<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Artist Gallery</title>
<script type="text/javascript" src="js/eventTracker.js"></script>
</head>
<body>

<h1>Artist Gallery Tracker</h1>
<h2>Dope!</h2>

<!-- <form name="artistForm">
    <input type="number" name="artistId">
    <button name="lookup">Get Artist by Id</button>
  </form> -->
  <!-- <form name="showArtists">
      <ul>
          <li *ngFor="let artists of artist">{{artists.id}}</li>
          <li *ngFor="let artists of artist">{{artists.name}}</li>
          <li *ngFor="let artists of artist">{{artists.birthYear}}</li>
          <li *ngFor="let artists of artist">{{artists.deathYear}}</li>
          <li *ngFor="let artists of artist">{{artists.artStyle}}</li>
          <li *ngFor="let artists of artist">{{artists.listOfWork}}</li>
      </ul>
      
  </form> -->
  <div id="output">
    <div id="artistData"></div>
    <input type='submit' name="update artist" id='update artist' placeholder="update"><br>
  </div>
  <hr>
  <form name="newArtistForm">
    <input type="text" name="name" placeholder="Artist Name"> <br>
    <input type="number" name="birthYear" placeholder="Birth Year"> <br>
    <input type="number" name="deathYear" placeholder="Death Year"> <br>
    <input type="text" name="artStyle" placeholder="Art Style"> <br>
    <!-- <input type="text" name="imageUrl" placeholder="imageUrl"> <br> -->
    <input type="text" name="listOfWork" placeholder="List of Work"> <br>
    <button type="submit" name="submit">Add Artist</button>
  </form>



</body>
</html>